.env
node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log
npm-shrinkwrap.json
package-lock.json
yarn.lock

node_modules
/node_modules
.env
.env.development.local
.env.local
.env.production.local
.<|code_middle|>

